:host {
  flex: 1 0 100px;
}

.form {
  margin-left: 10px;
  height: 100%;
  min-height: 600px;
  font-weight: bold;
  background-color: #C23825;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
